#components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .buttom-login span{
    font-size: 20px;
    /* color: white; */
  }

  .buttom-login{
    border-radius: 40px;
    border-color: white;
    color: #F03A47;
    opacity: 0.6;
    height: 60%;
  }

  .buttom-register{
    font-size: 20px;
    border-radius: 40px;
    border-color: white;
    color: #F03A47;
    opacity: 0.6;
    height: 60%;
  }

