/* #components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
  } */

  .buttom-login span{
    font-size: 20px;
  }

  .drop-main-menu{
    background-color: #ef8d94;
    border-color: white;
    color: white;
    border-radius: 40px;
    height: 60%;
    font-weight:bold;
    margin-left: auto;
    padding: 5px 25px 5px 25px;
    margin-top: 10px;
  }

  .span, font {
    vertical-align: inherit;
    font-weight: bold;
    padding: 10px;

  }

  .buttom-login{
    border-radius: 40px;
    border-color: white;
    color: #F03A47;
    opacity: 0.6;
    height: 60%;
  }

  .buttom-register{
    font-size: 20px;
    border-radius: 40px;
    border-color: white;
    color: #e29297;
    opacity: 0.6;
    height: 60%;
  }

  .ant-avatar-sm{
    width: 31px;
    height: 31px;
    line-height: 24px;
    border-radius: 50%;
    padding: 2px;
  }

  

