
/*  Header   */
header.ant-layout-header{
    background-color: #F03A47;
    color: white;
}
/*     Content   */
.content{
    background-color: white;
    font-family: 'Courier Prime', monospace;
    text-align: center;
    color: #47525E;
    padding: 0px 60px;
}

.content p{
    margin: 0px 103px;
}

#buttonChat , #buttonPost{
    background-color: #553D3F;
    color: white; 
    border-radius: 60px;
    height: 120%;
    width: 45%;
    font-size: 30px;
}

.p-menu-page{
    font-size: 23px;
}

.img-menu-page{
    height: 50vh;
    padding: 20px;
}

.buttonsChatPost{
    padding: 35px 0px;
}

#button span{
    font-size: 50px;
    margin: 15px;
}

/*  Footer   */
footer.ant-layout-footer{
    background-color: #F03A47;
    height: 35px;
    color: white;
   
    }

.footer p{
    text-align-last: center;
}
