.configureperfil{
    border-color: red;

}

.ant-modal-header{
    border-color: red;
}
.ant-modal-footer{
    border-color:red;
}


.ant-modal-title{
    font-weight: bold;
    font-size: 26px;


}
.privacidad-collapse{
    background-color: white;
    border: 0px;

}